* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #f5f8fc;
  color: #18243a;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

@media (min-width: 1800px) {
  .container {
    max-width: 1800px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 900px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}